/* -----------------------------------------------------------------------------
 * accounts-tab
 * -------------------------------------------------------------------------- */
#accounts-tab h1 {
    font: normal normal 18px/18px Aller;
    left: 60px;
    margin: 0px;
    position: absolute;
    top: 30px;
}

#accounts-tab .button-bar {
    left: 400px;
    position: absolute;
    top: 21px;
}

/* -----------------------------------------------------------------------------
 * Account Table Wrapper
 * -------------------------------------------------------------------------- */
#account-table-clipped-wrapper {
    float: left;
    overflow: hidden;
    width: 615px;  /* 30px margin-left + 585px table width */
}

#account-table-unclipped-wrapper {
    float: left;
    margin: 56px 0 0 30px;
    position: relative;
    width: 1200px;  /* 585 + 30 (margin) + 585 */
}

/* -----------------------------------------------------------------------------
 * Account Chart
 * -------------------------------------------------------------------------- */
#accounts-chart {
    float: left;
    height: 303px;
    margin: 56px 0 20px 0;
    width: 240px;
}