/* -----------------------------------------------------------------------------
 * _aller.scss
 * -------------------------------------------------------------------------- */
@font-face {
    font-family: 'Aller';
    src: url('../font/aller_rg-webfont.eot');
    src: url('../font/aller_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/aller_rg-webfont.woff') format('woff'),
         url('../font/aller_rg-webfont.ttf') format('truetype'),
         url('../font/aller_rg-webfont.svg#allerregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aller';
    src: url('../font/aller_it-webfont.eot');
    src: url('../font/aller_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/aller_it-webfont.woff') format('woff'),
         url('../font/aller_it-webfont.ttf') format('truetype'),
         url('../font/aller_it-webfont.svg#alleritalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Aller';
    src: url('../font/aller_bd-webfont.eot');
    src: url('../font/aller_bd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/aller_bd-webfont.woff') format('woff'),
         url('../font/aller_bd-webfont.ttf') format('truetype'),
         url('../font/aller_bd-webfont.svg#allerbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Aller';
    src: url('../font/aller_bdit-webfont.eot');
    src: url('../font/aller_bdit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/aller_bdit-webfont.woff') format('woff'),
         url('../font/aller_bdit-webfont.ttf') format('truetype'),
         url('../font/aller_bdit-webfont.svg#allerbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'Aller';
    src: url('../font/aller_lt-webfont.eot');
    src: url('../font/aller_lt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/aller_lt-webfont.woff') format('woff'),
         url('../font/aller_lt-webfont.ttf') format('truetype'),
         url('../font/aller_lt-webfont.svg#aller_lightregular') format('svg');
    font-weight: 200;
    font-style: normal;

}

@font-face {
    font-family: 'Aller';
    src: url('../font/aller_ltit-webfont.eot');
    src: url('../font/aller_ltit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/aller_ltit-webfont.woff') format('woff'),
         url('../font/aller_ltit-webfont.ttf') format('truetype'),
         url('../font/aller_ltit-webfont.svg#aller_lightitalic') format('svg');
    font-weight: 200;
    font-style: italic;
}