/* -----------------------------------------------------------------------------
 * bullsfirst-intro-widget
 * -------------------------------------------------------------------------- */
#home-page #intro-section {
    left: 477px;
    position: absolute;
    top: 108px;
    width: 380px;
}

#home-page #intro-section h1 {
    color: $white;
    margin: 0;
}

#home-page #intro-section h2 {
    margin: 7px 0 15px 0;
}

#home-page #intro-section p.features, #home-page #intro-section ul {
    font: 16px/26px Aller;
}

#home-page #intro-section ul {
    margin: 0 0 11px 0;
}

#home-page #intro-section p.side-note {
    font-style: italic;
}

#home-page #intro-section p.open-account {
    background: url(../img/popsicle.png) no-repeat right center;
    line-height: 30px;
    margin-top: 18px;
    width: 137px;
}