/* -----------------------------------------------------------------------------
 * home-page
 * -------------------------------------------------------------------------- */
#home-page {
    background: $brand-color url(../img/horns.png) no-repeat right bottom;
    height: 541px;
    margin: 10px 10px 0 10px;
    position: relative;
}

#home-page header {
    left: 76px;
    position: absolute;
    top: 15px;
}

#home-page header h1 {
    background-image: url(../img/logo.png);
    height: 93px;
    margin: 0;
    width: 194px;
}

#home-page header h2 {
    font-style: italic;
    margin: 8px 5px 0 0;
    text-align: right;
}

/* Override selection color for gold background */
#home-page ::-moz-selection  {
    background: $text-selection-alternate-color;
}

#home-page ::selection  {
    background: $text-selection-alternate-color;
}