// -----------------------------------------------------------------------------
// mixins
// -----------------------------------------------------------------------------

// Linear gradient support with vendor prefixing
@mixin linear-gradient($direction-old-syntax, $direction-new-syntax, $start-color, $end-color) {
    background-color: $end-color;
    background-image: -webkit-linear-gradient($direction-old-syntax, $start-color, $end-color); 
    background-image:    -moz-linear-gradient($direction-old-syntax, $start-color, $end-color);
    background-image:     -ms-linear-gradient($direction-old-syntax, $start-color, $end-color);
    background-image:      -o-linear-gradient($direction-old-syntax, $start-color, $end-color);
    background-image:         linear-gradient($direction-new-syntax, $start-color, $end-color);
}