/* -----------------------------------------------------------------------------
 * user-page
 * -------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
 * Tabs
 * -------------------------------------------------------------------------- */
.tab {
    background-color: $white;
    margin: 0 10px 0 10px;
    position: relative;
}