/* -----------------------------------------------------------------------------
 * open-account-page
 * -------------------------------------------------------------------------- */
#open-account-page {

    .intro-section {
        float: left;
        margin: 200px 0 40px 70px;
        width: 380px;
    }

    .mandatory-text {
        margin:0 0 10px 0;
        color: #F8E5C9;
    }

}