/* -----------------------------------------------------------------------------
 * open-account-page
 * -------------------------------------------------------------------------- */
#open-account-page {

    .intro-section {
        float: left;
        margin: 200px 0 40px 70px;
        width: 380px;
    }

}