/* -----------------------------------------------------------------------------
 * orders-tab
 * -------------------------------------------------------------------------- */
.order-filter {
    background: $filter-background;
    margin: 21px auto 12px auto;
    padding: 6px 20px;
    width: 820px;
}