/* -----------------------------------------------------------------------------
 * positions-tab
 * -------------------------------------------------------------------------- */
.positions-tab .account-selector {
    left: 84px;
    position: absolute;
    top: 21px;
}

.positions-tab h1 {
    font: normal normal 18px/18px Aller;
    left: 84px;
    margin: 0px;
    position: absolute;
    top: 56px;
}

.positions-tab .selected-account-name {
    font-weight: bold;
}

.positions-tab .button-bar {
    left: 776px;
    position: absolute;
    top: 46px;
}