/* -----------------------------------------------------------------------------
 * positions-tab
 * -------------------------------------------------------------------------- */
.positions-tab .select-bar {
    left: 80px;
    position: absolute;
    top: 21px;
}

#postab-account-selector {
    background-color: $selector-fancy-color;
    border: 0;
    color: $white;
    width: 280px;
    padding: 3px;
}

#postab-account-selector selected {
    text-decoration: italics;
}

.positions-tab h1 {
    font: normal normal 18px/18px Aller;
    left: 84px;
    margin: 0px;
    position: absolute;
    top: 56px;
}

.positions-tab .button-bar {
    left: 776px;
    position: absolute;
    top: 46px;
}