/* -----------------------------------------------------------------------------
 * account-table-widget
 * -------------------------------------------------------------------------- */

.account-table-transitioning-view {
    float: left;
    position: relative;
}

/* -----------------------------------------------------------------------------
 * Account Table
 *
 * Column       Padding + Width = Total
 * left-column     0    +   30  =   30
 * name           20    +  180  =  200
 * market-value    0    +  140  =  140
 * cash            0    +  140  =  140
 * legend-cell    20    +   60  =   80
 * right-column    0    +   20  =   20
 * -----------------------------------
 * Total                           610
 * -------------------------------------------------------------------------- */
.account-table {
    table-layout: fixed;
    width: 610px;
}

.account-table tbody tr {
    cursor: pointer;
}

.account-table .left-column {
    background: none;
    border: none;
    color: $icon-color;
    font-size: 19px;
    text-align: center;
    width: 30px;
}

.account-table .name {
    padding-left: 20px;
    text-align: left;
    width: 180px;
}

.account-table .name .edit input {
    height: 17px;
    margin: 0;
    width: 140px;
}

.account-table .name .edit i {
    background: none;
    border: none;
    color: $icon-color;
    font-size: 19px;
    text-align: center;
    vertical-align: bottom;
    width: 30px;
}

.account-table .market-value {
    text-align: right;
    width: 140px;
}

.account-table .cash {
    text-align: right;
    width: 140px;
}

.account-table .legend-cell {
    padding-left: 20px;
    text-align: center;
    width: 60px;
}

.account-table .right-column {
    background: none;
    border: none;
    width: 20px;
}

/* Last row - dark grey border bottom */
.account-table tbody tr:last-child td {
    border-bottom: 3px solid $table-totals-separator-color;
}

/* Last row - no border bottom for left and right columns */
.account-table tbody tr:last-child td.left-column,
.account-table tbody tr:last-child td.right-column {
    border: none;
}

/* Disable highlighting of left and right columns on selection */
.account-table tbody tr.selected .left-column,
.account-table tbody tr.selected .right-column {
    background-color: $white;
}

/* Footer text is bold */
.account-table tfoot tr:last-child td {
    font: bold normal 12px/25px Aller;
}

/* Enable viewing of name in view mode */
.account-table tbody td.name .view {
    display: block;
}
.account-table tbody td.name .edit {
    display: none;
}

/* Enable editing of name in edit mode */
.account-table tbody td.name.editing .view {
    display: none;
}
.account-table tbody td.name.editing .edit {
    display: block;
}

/* -----------------------------------------------------------------------------
 * Account Detail Table
 *
 * Column       Padding + Width = Total
 * ????           ??    +   ??  =   ??
 * -----------------------------------
 * Total                           610
 * -------------------------------------------------------------------------- */
.account-detail-table {
    margin-left: 30px;
    table-layout: fixed;
    width: 610px;
}