/* -----------------------------------------------------------------------------
 * filter-widget
 * -------------------------------------------------------------------------- */

 .filter-wrapper {
	margin: 21px 40px 14px 80px;
	padding:  10px 20px 6px;
	background: #bfbfbf;
 }
 
 .filter-form {
 	width: 670px;
 	position: relative;
 	display: inline;
 	float: left;
 }

 .filter-field {
 	position: relative;
 	display: inline;
 	float: left;
 	width: 140px;
 	margin: 9px 20px 0 0;
 }

 .filter-field.account {
 	width: 300px;
 }

 .filter-buttons {
	float: right;
	width: 110px;
 }

 .filter-buttons a.button.medium {
	width: 95px;
	margin: 1px 0 10px;
	padding-left: 14px;
	position: relative;
 }

 .filter-buttons a.button.medium:last-child {
	margin-bottom: 0;
 }

 .filter-buttons a.button i {
 	font-size: 14px;
 	position: absolute;
 	left: 30px;
 }

 .filter-buttons a.js-apply-filters-button.button i {
 	left: 16px;
 }

 .filter-buttons a.js-apply-filters-button.button.medium {
 	background: $button-large-color;
 }

 .filter-buttons a.js-apply-filters-button.medium.button:hover {
 	background: $button-hover-color;
 }

 .filter-field label {
 	background: #a3a3a3;
 	height: 17px;
 	line-height: 22px;
 	margin-bottom: 1px;
 	padding-bottom: 1px;
 }

 .filter-field select {
 	height: 23px;
 	padding: 1px;
 	width: 100%;
 }

 .filter-field select,
 .filter-field input {
 	font-size: 12px;
 	outline: none;
 	border: none;
 }

 .filter-field input[type="text"] {
 	height: 23px;
 }
 
 .filter-field .datepicker {
 	background: #fff url(../img/datepicker-icon.png) no-repeat 120px center;
 }