.form-modal {
  background: #3F3F3F;
  border: 10px solid rgba(255, 255, 255, 0.3);
  -moz-background-clip: padding;
    -webkit-background-clip: padding;
      background-clip: padding-box;

  header {
    background: #3F3F3F;
    color: $white;
  }

}

