/* -----------------------------------------------------------------------------
 * intro-widget (includes HomePage IntroWidget and OpenAccountIntroWidget)
 * -------------------------------------------------------------------------- */
.intro-section {
    h1 {
        color: $white;
    }

    h2 {
        margin: 7px 0 15px 0;
    }

    ul {
        margin: 0 0 11px 0;
    }

    ul, p.features {
        font: 16px/26px Aller;
    }

    p.side-note {
        font-style: italic;
    }

    p.open-account {
        background: url(../img/popsicle.png) no-repeat right center;
        line-height: 30px;
        margin-top: 18px;
        width: 137px;
    }
}