.open-account-section {
    float: right;
    margin-right: 162px;
    margin-top: 10px;
    margin-bottom: 21px;
}

#open-account-form {
    background-color: #404040;
    height: 440px;
    padding: 10px 15px 0 15px;
    width: 270px;

    .mandatory-text {
        margin:0 0 10px 0;
        color: #F8E5C9;
    }
}

#oa-cancel-button {
    background-color: #c03b00;
}

#oa-cancel-button:hover {
    background-color: #F36733;
}