.orders-table {
	table-layout: fixed;
	margin: 0 40px 28px 80px;
	width: 820px;
}

.orders-table tr td:last-child { padding-right: 20px; }

.orders-table:after {
	content: "";
	width: 820px;
	height: 1px;
	background: $brand-color;
	display: block;
	position: absolute;
	bottom: 14px;
	left: 80px;
}
.orders-table .center {
	text-align: center;
}

.orders-table .number {
	text-align: right;
}

.orders-table .faded{
    background-color: $table-row-faded;
}