/* -----------------------------------------------------------------------------
 * order-filter-widget
 *
 * Column layout (total width 780)
 * <-- 270 -->20<-- 120 -->20<-- 220 -->20<-- 110 -->
 * -------------------------------------------------------------------------- */

.order-filter-form {
    .col1, .col2, .col3, .col4 {
        float: left;
        margin-right: 20px;
        margin-bottom: 0;
    }

    .col1 {
        width: 270px;
    }

    .col2 {
        width: 120px;
    }

    .col3 {
        width: 220px;
    }

    .col4 {
        width: 110px;
        margin-top: 8px;
        margin-right: 0;
    }
}