.orders-table {
	table-layout: fixed;
	margin: 0 40px 28px 80px;
	width: 820px;
}

.orders-table .order-tbl-creation-date {
    padding-left: 10px;
    text-align: left;
    width: 160px;
}

.orders-table .order-tbl-account {
    text-align: left;
    width: 115px;
}

.orders-table .order-tbl-order-no {
    text-align: center;
    width: 50px;
}

.orders-table .order-tbl-type {
    text-align: center;
    width: 35px;
}

.orders-table .order-tbl-action-ro {
    text-align: center;
    width: 50px;
}

.orders-table .order-tbl-symbol {
    text-align: right;
    width: 30px;
}

.orders-table .order-tbl-qty {
    text-align: right;
    width: 65px;
}

.orders-table .order-tbl-limit-price {
    text-align: right;
    width: 65px;
}

.orders-table .order-tbl-exec-price {
    text-align: right;
    width: 95px;
}

.orders-table .order-tbl-status {
    text-align: center;
    width: 90px;
}

.orders-table .order-tbl-action {
    text-align: center;
    width: 45px;
}

.orders-table .canceled{
    background-color: $table-row-faded;
}