/* -----------------------------------------------------------------------------
 * transfer-dialog
 * -------------------------------------------------------------------------- */
#transfer-dialog {
    width: 310px;
}

#add-external-account-button {
    font-size: 12px;
    display: block;
    color: #F47513;
    background-image: url(../img/plus-icon-orange.png);
    background-position: 0px 2px;
    background-size: 18px;
    background-repeat: no-repeat;

    span {
        position: relative;
        left: 23px;

        &:hover {
            text-decoration: underline;
        }
    }

}

/* -----------------------------------------------------------------------------
 * add-external-account-dialog
 * -------------------------------------------------------------------------- */
#add-external-account-dialog {
    width: 300px;
    
    .add-account-button {
        margin-top: 20px;
    }
}