/* -----------------------------------------------------------------------------
 * transaction-filter-widget
 *
 * Column layout (total width 780)
 * <-- 300 -->20<-- 155 -->20<-- 155 -->20<-- 110 -->
 * -------------------------------------------------------------------------- */

.transaction-filter-form {
    .col1, .col2, .col3, .col4 {
        float: left;
        margin-bottom: 0;
    }

    .col1, .col2, .col3 {
        margin-top: 20px;
        margin-right: 20px;
    }

    .col1 {
        width: 300px;
    }

    .col2 {
        width: 155px;
    }

    .col3 {
        width: 155px;
    }

    .col4 {
        width: 110px;
    }
}