/* -----------------------------------------------------------------------------
 * user-page-header-widget
 * -------------------------------------------------------------------------- */
.user-page-header {
    background-color: $brand-color;
    height: 137px;
    margin: 10px 10px 0 10px;
    position: relative;
}

/* -----------------------------------------------------------------------------
 * Logo
 * -------------------------------------------------------------------------- */
.user-page-header h1 {
    background-image: url(../img/logo-small.png);
    height: 75px;
    left: 60px;
    margin: 0;
    position: absolute;
    top: 18px;
    width: 160px;
}

/* -----------------------------------------------------------------------------
 * Button Bar
 * -------------------------------------------------------------------------- */
.user-page-header .button-bar {
    left: 640px;
    position: absolute;
    top: 32px;
}

/* -----------------------------------------------------------------------------
 * User Info
 * -------------------------------------------------------------------------- */
.user-page-header .user-info {
    float: right;
    line-height: 11px;
    margin: 10px 11px 0 0;
}

.user-page-header .user-info span {
    font-size: 12px;
    font-style: italic;
    margin-right: 2px;
}

.user-page-header .user-info img {
    position: relative;
    top: -1px;
}

.user-page-header .user-info a {
    font-size: 12px;
}

/* -----------------------------------------------------------------------------
 * Tab Bar
 * Reference: http://stackoverflow.com/questions/2295311/css-list-item-width-height-does-not-work
 * -------------------------------------------------------------------------- */
.user-page-header .tabbar {
    left: 80px;
    position: absolute;
    top: 107px;
} 

.tabbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tabbar ul li {
    display: inline;
    float: left;
}

.tabbar ul li a {
    background-color: $tab-color;
    color: $white;
    display: block;
    height: 25px;
    line-height: 25px;
    margin: 5px 2px 0 0;
    min-width: 103px;
    padding: 0 10px 0 10px;
    text-align: center;
}

.tabbar ul li a:hover {
    background-color: $button-hover-color;
}

.tabbar ul li a.selected {
    background-color: $white;
    color: $black;
    margin-top: 0;
    padding-top: 5px;
}