/* -----------------------------------------------------------------------------
 * buttons
 * -------------------------------------------------------------------------- */
a.button {
    color: $white;
    display: block;
    text-decoration: none;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

a.button span  {
    display: block;
}

/* -----------------------------------------------------------------------------
 * Button Icons
 * -------------------------------------------------------------------------- */
a.button.person-icon span  {
    background: url(../img/person-icon.png) no-repeat;
}

a.button.plus-icon-large span  {
    background: url(../img/plus-icon-large.png) no-repeat;
}

a.button.popsicle-icon span  {
    background: url(../img/popsicle_white.png) no-repeat;
}

a.button.preview-icon span  {
    background: url(../img/preview-icon.png) no-repeat;
}

a.button.refresh-icon span  {
    background: url(../img/refresh-icon.png) no-repeat;
}

a.button.submit-icon span  {
    background: url(../img/submit-icon.png) no-repeat;
}

a.button.trade-icon span  {
    background: url(../img/trade-icon.png) no-repeat;
}

a.button.transfer-icon span  {
    background: url(../img/transfer-icon.png) no-repeat;
}

/* -----------------------------------------------------------------------------
 * button.small
 * -------------------------------------------------------------------------- */
a.button.small {
    background-color: $button-small-color;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    width: 90px;
}

a.button.small:hover {
    background-color: $button-hover-color;
}

a.button.small:active {
    background-color: $button-active-color;
}

/* -----------------------------------------------------------------------------
 * button.medium
 * -------------------------------------------------------------------------- */
a.button.medium {
    background-color: $button-medium-color;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    width: 105px;
}

a.button.medium:hover {
    background-color: $button-hover-color;
}

a.button.medium:active {
    background-color: $button-active-color;
}

// font-awesome icons
a.button.medium i {
    font-size: 18px;
    margin-right: 6px;
    vertical-align: middle;
}

/* -----------------------------------------------------------------------------
 * button.large
 * -------------------------------------------------------------------------- */
a.button.large {
    background-color: $button-large-color;
    font-size: 14px;
    height: 75px;
    line-height: 18px;
    text-align: center;
    width: 110px;
}

a.button.large:hover {
    background-color: $button-hover-color;
}

a.button.large:active {
    background-color: $button-active-color;
}

a.button.large span  {
    background-position: center 13px;
    padding-top: 43px;
}

// font-awesome icons
a.button.large i {
    float: left;
    font-size: 30px;
    margin-top: 16px;
    width: 100%;
}

/* -----------------------------------------------------------------------------
 * Centered Buttons
 * -------------------------------------------------------------------------- */
a.button.center {
    margin: 10px auto;
}

/* -----------------------------------------------------------------------------
 * button-bar
 * -------------------------------------------------------------------------- */
.button-bar a.button {
    float: left;
}

.button-bar a.button.small {
    margin-right: 10px;
}

.button-bar a.button.medium {
    margin-right: 10px;
}

.button-bar a.button.large {
    margin-right: 20px;
}