// -----------------------------------------------------------------------------
// colors
// -----------------------------------------------------------------------------
$black:                          #000000;
$brand-color:                    #F89F1B;  // gold
$button-active-color:            #7B2A0C;  // brown
$button-hover-color:             #F36733;  // light orange
$button-large-color:             #F04100;  // orange
$button-medium-color:            #F47513;  // gold
$button-small-color:             #F04100;  // orange
$container-background-color:     #333333;
$form-background-color:          #404040;
$icon-color:                     #F47513;  // gold
$label-background-color:         #666666;
$label-text-color:               #F8E5C9;  // cream
$link-active-color:              #9E2B00;  // dark red
$link-color:                     #F04100;  // orange
$link-hover-color:               #F36733;  // light orange
$selector-fancy-color:           #F47513;  // gold
$tab-color:                      #F8791B;  // gold
$table-header-background-color:  #8C8C8C;
$table-header-text-color:        #F8E5C9;  // cream
$table-row-selected-color:       #D8D8D8;
$table-row-separator-color:      #E5E5E5;
$table-totals-separator-color:   #8C8C8C;
$text-selection-alternate-color: #FBBE39;  // yellowish gold - against gold
$white:                          #FFFFFF;

// Legend Colors
$legend-0-start-color:           #FDE79C;
$legend-0-end-color:             #F6BC0C;

$legend-1-start-color:           #B9D6F7;
$legend-1-end-color:             #284B70;

$legend-2-start-color:           #FBB7B5;
$legend-2-end-color:             #702828;

$legend-3-start-color:           #B8C0AC;
$legend-3-end-color:             #5F7143;

$legend-4-start-color:           #A9A3BD;
$legend-4-end-color:             #382C6C;

$legend-5-start-color:           #98C1DC;
$legend-5-end-color:             #0271AE;

$legend-6-start-color:           #9DC2B3;
$legend-6-end-color:             #1D7554;

$legend-7-start-color:           #B1A1B1;
$legend-7-end-color:             #50224F;

$legend-8-start-color:           #C1C0AE;
$legend-8-end-color:             #706E41;

$legend-9-start-color:           #ADBDC0;
$legend-9-end-color:             #446A73;
