/* -----------------------------------------------------------------------------
 * forms
 * -------------------------------------------------------------------------- */
.field {
    margin-bottom: 10px;

    &.kill-bottom-margin {
        margin-bottom: 0;
    }

    label {
        background-color: $label-background-color;
        color: $label-text-color;
        display: block;
        font: 11px/25px Aller;
        height: 25px;
        padding-left: 9px;
        width: 80px;
    }

    label.wide {
        width: 100px;
    }

    input[type="text"], input[type="password"] {
        height: 25px;
        width: 100%;
        padding-left: 7px;
    }

    select {
        height: 25px;
        width: 100%;
        padding-left: 7px;
    }

    option {
        padding-left: 12px;
    }

    .datepicker {
        background: #fff url(../img/datepicker-icon.png) no-repeat 95% center;
    }

    .sbSelector {
        padding-left: 7px;
    }

    .sbOptions {
        width: 100%;
    }

    .bf-radio {
        float: left;
        width: 50%;
        height: 50px;
        background: $button-large-color;
        text-align: center;
        line-height: 50px;

        &:hover{
            background: $button-hover-color;
        }

        &.checked {
            background: $button-medium-color;
            border: 2px solid $white;
        }
    }

    .bf-checkbox {

        float: left;
        height: 25px;
        width: 23px;
        background-image: url(../img/unchecked-large.png);

        &.checked {
            background-image: url(../img/checked-large.png);
        }
    }
}

.field.filter {
    label {
        background-color: $filter-label-background-color;
        font: 11px/18px Aller;
        height: 18px;
    }
}

fieldset.filter {
    background-color: $filter-group-background-color;
    font: 11px/11px Aller;
    position: relative;
    padding-top: 18px;

    legend {
        color: $label-text-color;
        position: absolute;
        top: 3px;
        left: 9px;
    }
}

.filter-checkbox {
    line-height: 14px;

    input {
        margin-left: 7px;
    }
}

a.button.medium.apply-filters-button {
    background-color: $button-apply-filters-color;
}

/* -----------------------------------------------------------------------------
 * Validation messages
 * -------------------------------------------------------------------------- */
.validation-error {
    border-color: $white;
    background-color: #ee0101;
    color: $white;
}