/* -----------------------------------------------------------------------------
 * forms
 * -------------------------------------------------------------------------- */
.field {
    margin-bottom: 10px;

    &.kill-bottom-margin {
        margin-bottom: 0;
    }

    label {
        background-color: $label-background-color;
        color: $label-text-color;
        display: block;
        font: 11px/25px Aller;
        height: 25px;
        padding-left: 9px;
        width: 80px;
    }

    label.wide {
        width: 100px;
    }

    input[type="text"], input[type="password"] {
        height: 25px;
        width: 100%;
        padding-left: 7px;
    }

    select {
        height: 25px;
        width: 100%;
        padding-left: 7px;
    }

    option {
        padding-left: 12px;
    }

    .datepicker {
        background: #fff url(../img/datepicker-icon.png) no-repeat 95% center;
    }

    .sbSelector {
        padding-left: 7px;
    }

    .sbOptions {
        width: 100%;
    }

    .bf-radio {
        float: left;
        width: 50%;
        height: 50px;
        background: $button-large-color;
        text-align: center;
        line-height: 50px;

        &:hover{
            background: $button-hover-color;
        }

        &.selected {
            background: $button-medium-color;
            border: 2px solid $white;
        }
    }

    .bf-checkbox {
        float: left;
        width: 22px;
        height: 25px;
        padding: 0 0 0 3px;
        line-height: 26px;
        font-size: 17px;
        color: $label-background-color;
        background: $checkbox-color;
    }
}

.field.filter {
    label {
        background-color: $filter-label-background-color;
        font: 11px/18px Aller;
        height: 18px;
    }
}

.field-group.filter {
    background-color: $filter-group-background-color;

    label {
        color: $label-text-color;
        display: block;
        font: 11px/18px Aller;
        height: 20px;
        padding-left: 9px;
    }
}

.filter-checkbox {
    a {
        float: left;
        width: 12px;
        height: 11px;
        font: 11px/11px Aller;
        margin-left: 7px;
        padding: 0 0 0 3px;
        color: $white;
        background: $checkbox-color;
    }

    span {
        float: left;
        color: $black;
        font: 11px/11px Aller;
        margin-bottom: 5px;
        padding-left: 6px;
    }
}

/* Add clearfix */
.filter-checkbox:before,
.filter-checkbox:after {
    content: " ";
    display: table;
}

.filter-checkbox:after {
    clear: both;
}

a.button.medium.apply-filters-button {
    background-color: $button-apply-filters-color;
}
