/* -----------------------------------------------------------------------------
 * general
 * -------------------------------------------------------------------------- */
/* apply a natural box layout model to all elements */
* {
    @include box-sizing(border-box);
}

/* -----------------------------------------------------------------------------
 * Library Overrides
 * -------------------------------------------------------------------------- */
.treeTable tr.collapsed td a.expander {
    background-image: url(images/ui-icons_666666_256x240.png);
    background-position:-30px -20px;
    border-bottom: 0;
}

.treeTable tr.expanded td a.expander {
    background-image: url(images/ui-icons_666666_256x240.png);
    background-position:-60px -20px;
    border-bottom: 0;
}

/* -----------------------------------------------------------------------------
 * Primary Styles
 * -------------------------------------------------------------------------- */
p {
    margin: 6px 0 0 0;
}

h1, h2, h3, h4 {
    margin: 0;
}

h1 {
    font: normal normal 24px Aller;
}

h2 {
    font: normal normal 16px Aller;
}

a {
    font-size: 14px;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

/* unvisited and visited link */
a:link, a:visited {
    color: $link-color;
}

/* mouse over link */
a:hover {
    color: $link-hover-color;
}

/* selected link */
a:active {
    color: $link-active-color;
}

/* override normalize.css setting of thin dotted to improve look */
a:focus {
    outline: 0;
}

/* -----------------------------------------------------------------------------
 * General Purpose Classes
 * -------------------------------------------------------------------------- */
.nodisplay {
    display: none;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

/* -----------------------------------------------------------------------------
 * Main Container
 * -------------------------------------------------------------------------- */
#container {
    background-color: $container-background-color;
    margin: auto;
    width: 960px;
}

/* -----------------------------------------------------------------------------
 * Tabs
 * -------------------------------------------------------------------------- */
.tab {
    background-color: $white;
    margin: 0 10px 0 10px;
    min-height: 400px;
    position: relative;
}

.tab-heading {
    font: normal normal 18px/18px Aller;
    left: 60px;
    position: absolute;
    top: 30px;
}

/* -----------------------------------------------------------------------------
 * Footer
 * -------------------------------------------------------------------------- */
footer {
    clear: both;
    background-color: $container-background-color;
    color: $white;
    font: italic 10px Aller;
    height: 50px;
    padding: 7px 0 0 60px;
}

footer a {
    font: italic 10px Aller;
}