/* -----------------------------------------------------------------------------
 * selectbox
 * -------------------------------------------------------------------------- */
 .sbHolder{
    background: $white;
    position: relative;
    height: 23px;
    padding: 1px;
    width: 100%;
    font-size: 12px;
    outline: none;
    border: none;
 }

.sbSelector{
    display: block;
    height: 25px;
    left: 0;
    line-height: 25px;
    outline: none;
    overflow: hidden;
    position: absolute;
    text-indent: 10px;
    top: 0;
    width: 170px;
}

.sbSelector:link, .sbSelector:visited, .sbSelector:hover{
    color: $black;
    outline: none;
    text-decoration: none;
}

.sbToggle{
    background: url(../img/select-icons.png) 10px 8px no-repeat;
    display: block;
    height: 25px;
    width: 30px;
    outline: none;
    position: absolute;
    right: 0;
    top: 0;
}

.sbToggleOpen{
    background-position: 10px -46px;
}

.sbOptions{
    background-color: $white;
    border: 1px solid $selectbox-border-color;
    list-style: none;
    left: 0;
    margin: 0;
    padding: 1px;
    position: absolute;
    top: 25px;
    width: 298px;
    z-index: 1;
    overflow-y: auto;
}

.sbOptions li{
    padding: 0 7px;
}

.sbOptions li:hover{
    background: $brand-color;
}

.sbOptions a{
    border-bottom: solid 1px $black;
    display: block;
    outline: none;
    padding: 4px 0 4px 3px;
}

.sbOptions a:last-child {
    border-bottom: none;
}

.sbOptions a:link, .sbOptions a:visited{
    color: $black;
    text-decoration: none;
}

.sbOptions li.last a{
    border-bottom: none;
}

.sbOptions .sbDisabled{
    color: $selectbox-border-color;
    display: block;
    padding: 7px 0 7px 3px;
}